html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
}

/* LANDING */
.landing {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landing_banner {
  text-align: center;
  width: 100%  
}

/* PEOPLE LIST */
.peopleListContainer {
  height: 100vh;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  background: #ebebeb;
}

.people_container {
  border: 1px solid red;
  width: 300px;
  align-self: center;
  margin-bottom: 44px;
}

.navbar {
  height: 15%;
  padding-right: 12px;
  padding-left: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.get-result-btn {
  display: flex;
  padding: 22px;
  font-size: medium;
  font-weight: bold;
  flex-direction: column;
  justify-content: center;
  margin: 8px;
  height: 11px;
  color:salmon;
  border-radius: 28px;
  background: #ebebeb;
  box-shadow:  9px 9px 14px #cccccc, 
               -9px -9px 18px #ffffff;
}

.get-result-btn-disabled {
  display: flex;
  padding: 22px;
  font-size: medium;
  font-weight: bold;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 8px;
  height: 11px;
  color: rgb(172, 170, 170);
  border-radius: 28px;
  background: #ebebeb;
  box-shadow: inset 5px 5px 10px #d1d1d1, 
              inset -5px -5px 10px #ffffff;
}

.get-result-btn:hover {
  border-radius: 28px;
  background: #ebebeb;
  box-shadow: inset 9px 9px 18px #cccccc, 
              inset -9px -9px 18px #ffffff;
}

.back-btn {
  display: flex;
  padding: 22px;
  font-size: medium;
  font-weight: bold;
  flex-direction: column;
  justify-content: center;
  margin: 8px;
  width: 11px;
  height: 11px;
  color:salmon;
  border-radius: 100%;
  background: #ebebeb;
  box-shadow:  9px 9px 14px #cccccc, 
               -9px -9px 18px #ffffff;
}

.back-btn:hover {
  color: rgb(226, 113, 101);
  border-radius: 28px;
  background: #ebebeb;
  box-shadow: inset 9px 9px 18px #cccccc, 
              inset -9px -9px 18px #ffffff;
}

.content {
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.add-person-btn {
  color: rgb(94, 92, 92);
  border-radius: 28px;
  background: #ebebeb;
  box-shadow:  9px 9px 18px #cccccc, 
              -9px -9px 18px #ffffff;
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
  justify-content: center;
  width: 200px;
  height: 44px;
}

.add-person-btn-disabled {
  color: rgb(172, 170, 170);
  border-radius: 28px;
  background: #ebebeb;
  box-shadow: inset 5px 5px 10px #d1d1d1, 
              inset -5px -5px 10px #ffffff;
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
  justify-content: center;
  width: 200px;
  height: 44px;
}

.add-person-btn:hover {
  border-radius: 28px;
  color: rgb(172, 170, 170);
  background: #ebebeb;
  box-shadow: inset 9px 9px 18px #cccccc, 
              inset -9px -9px 18px #ffffff;
}


/* PERSON FORM */
.personForm_container {
  height: 100vh;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  background: #ebebeb;
}

.form_content {
  height: 85%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form_add_name_full {
  align-self: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding-top: 15vh;
}

.form_add_name_small {
  align-self: center;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.name_input_container {
  height: 50%;
  display: flex;
  flex-direction: column;
}

.person_input {
	border: none;
	border-radius: 6px;
  font-size: 25px;
  font-weight: 500;
	margin: 0;
	outline: 0;
  padding: 10px;
	width: 90%;
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
  background-color: rgb(172, 170, 170);
  color: rgb(94, 92, 92);
  margin-bottom: 30px; 
  align-self: center; 
  background: #ebebeb;
  box-shadow: inset 1px 1px 3px #cccccc, 
              inset -1px -1px 3px #ffffff;
}

.person_input_small {
  font-size: 19px;
}

.person_input_small:focus,
.person_input:focus {
  background: #d2d9dd;
} 

.name_message { 
  font-size: 25px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 18px;
  color: rgb(94, 92, 92);
}

.name_message_small {
  font-size: 19px;
}

.item_container {
  height: 100%;
  width: 100%;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: white;
}

.add_item_form {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  margin-bottom: 16px;
  width: 100%;
  height: 90px;
  align-self: center;
  background: rgb(172, 170, 170);
}

.add_item_form input {
  border: none;
	border-radius: 6px;
  font-size: 14px;
  font-weight: normal;
	margin: 0;
	outline: 0;
  padding: 6px;
	width: 100px;
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
  background-color: rgb(172, 170, 170);
  color: rgb(94, 92, 92);
  margin-bottom: 14px; 
  align-self: center; 
  background: #ebebeb;
  box-shadow: inset 1px 1px 3px #cccccc, 
              inset -1px -1px 3px #ffffff;
}

.add_item_form input[type=number] {
  border: none;
	border-radius: 6px;
  font-size: 14px;
  font-weight: normal;
	margin: 0;
	outline: 0;
  padding: 6px;
	width: 60px;
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
  background-color: rgb(172, 170, 170);
  color: rgb(94, 92, 92);
  margin-bottom: 14px; 
  align-self: center; 
  background: #ebebeb;
  box-shadow: inset 1px 1px 3px #cccccc, 
              inset -1px -1px 3px #ffffff;
}

.item_form_inputs {
  display: flex;
  justify-content: space-between;
  width: 180px;
  align-self: center;
}

.add-item-btn {
  color: white;
  border-radius: 28px;
  background: rgb(172, 170, 170);
  box-shadow:  5px 5px 10px #929191, 
              -5px -5px 10px #c6c4c4;
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
  justify-content: center;
  width: 90px;
  height: 30px;
  margin-top: 2px;
}

.add-item-btn-disabled {
  color: #919191;
  border-radius: 28px;
  background: rgb(172, 170, 170);
  box-shadow: inset 5px 5px 10px #919191, 
              inset -5px -5px 10px #c6c4c4;
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
  justify-content: center;
  width: 90px;
  height: 30px;
  margin-top: 2px;
}

.add-item-btn:hover {
  border-radius: 28px;
  color: #919191;
  margin-top: 2px;
  background: rgb(172, 170, 170);
  box-shadow: inset 5px 5px 10px #919191, 
              inset -5px -5px 10px #c6c4c4;
}

.list_item {
  width: 280px;
  height: 38px;
  display: flex;
  margin-top: 10px;
  border-radius: 7px;
  align-self: center;
  flex-direction: row;
  align-items: center;
  padding: 0px 8px 0px 8px;
  justify-content: space-between;
  box-shadow:  1px 1px 3px #cccccc, 
              -1px -1px 3px #ffffff;
}

.list_item_editing {
  background: salmon;
}

.list_item_btn {
  color: rgb(172, 170, 170);
  background: white;
  font-weight: 500;
  margin: 0px;
  margin-left: 4px;
  padding: 8px;
  height: 11px;
  font-size: medium;
  display: flex;
  font-weight: 500;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #cccccc;
  border-radius: 28px;
  font-size: smaller;
}

.list_item_btn:hover {
  color: salmon;
  background: white;
  box-shadow: 1px 1px 2px #cccccc, 
              -1px -1px 2px #ffffff;
}

.list_item_btn_container {
  display: flex;
  flex-direction: row;
  width: 110px;
  justify-content: flex-end;
}

/* EDIT LIST ITEM */
.edit_list_item_btn {
  border: 1px solid #d96b67;
  background: salmon;
  color: white;
  font-weight: 500;
  margin: 0px;
  margin-left: 4px;
  padding: 8px;
  height: 11px;
  font-size: medium;
  display: flex;
  font-weight: 500;
  flex-direction: column;
  justify-content: center;
  border-radius: 28px;
  font-size: smaller;
}

.edit_list_item_btn:hover {
  color: rgb(241, 241, 241);
  box-shadow: inset 1px 1px 6px #d96b67, 
              inset -1px -1px 8px #ff918b;
}

.edit_list_item_btn_disabled {
  color: salmon;
  background: #d96b67;
  box-shadow: inset 1px 1px 6px #b95a56, 
              inset -1px -1px 8px #ff918b;
}

.list_item_text_container {
  display: flex;
  color: rgb(129, 127, 127);
  flex-direction: row;
  justify-content: space-between;
  font-weight: 500;
  width: 130px;
}

.list_item_text_bold {
  font-weight: 600;
}

.list_item_input_container {
  display: flex;
  flex-direction: row;
  width: 150px;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  padding: 0px;
}

.list_item_input_container input {
  border: none;
	border-radius: 6px;
  font-weight: normal;
  font-size: 15px;
  padding-left: 8px;
  margin: 0;
  height: 23px;
	outline: 0;
  width: 55px;
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
  color: white;
  background: rgb(255, 164, 154);
  box-shadow: inset 1px 1px 1px #d96b67, 
              inset -1px -1px 1px #ff918b;
}

.list_item_input_container input[type="text"] {
  width: 97px;
  margin-right: 7px;
}

/* BANNERS & USER FEEDBACK MESSAGES */
.banner_no_people {
  text-align: center;
  margin-top: 5em;
  color: rgb(172, 170, 170);
  font-size: 19px;
}

.banner_no_people h4 {
  font-weight: 500;
}